<!-- <div style="border: 1px solid red;"> -->
  <div style="margin-top: 25px; width: 100vw; display: flex; flex-direction: column; align-items: center;">

  	<form method="get" action="/new_game_s">
  		<input type="submit" value="Single Player" class='select_submit'>
  	</form>

  	<form method="get" action="/new_game_2">
  		<input type="submit" value="Two Player" class='select_submit'>
  	</form>

  </div>
<!-- </div> -->