<div style="margin-top: 15px; width: 100vw; display: flex; flex-direction: column; align-items: center;">
	<h1>2 Player</h1>
</div>

<div style="margin-top: 0px; width: 100vw; display: flex; flex-direction: column; align-items: center;">

	<form method="post" action="/new_game_2">
		<input type="submit" value="CODE-MASTER" class='select_submit'>
	</form>

	<form method="get" action="/">
		<input type="submit" id="return" value="return">
	</form>

</div>