
<div style = "padding-top: 100px; text-align: center;">
	<h1><[AI]></h1>
</div>

<div style = "padding-top: -50px; text-align: center; font-size: 32px;">
	<h1>C0D3_BR34K3R</h1>
</div>
<div style="text-align: center;">
	<form method="get" action="/gameboard">
		<input type="submit" value="BEGIN" class="select_submit">
</div>